# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.5
    - CONFIG=osx_python3.6

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "yg1xN+yTAUlolljIJNIRUDv82hVxEddWU5Nr+kI0fnBeV5iUTKcEsJFhkQRiDZlMCJcYNYXZ1kUmBFR05kGa6HaWj09hTLmnWCWaPe+3bK1RyX5wLsOSRwuBz//ibM0O26qJC2Ao6P4V3bF8/6gK3PCK7EbTl67jambJ+aAJxWYGUJcjKEcSuvrtFzj9fQtGOelETndbUrAPgmvszcsggM5zMFt4KhduzVX1wew1qoifqnin0Mi0LymYFxv/sT81CWK1bbRtuAHHiPNnXLgSKi86ZhTofVbn9IyfSNQ6l/n+x3xJWbbSq1oRijz6p/m4UAnuwZU8vBK6HlPBgmrfAB4V9zyzr4wQyWYiQs5wg70EWzX902wtWwHZc0KeTU6Ezo9mtya8w1M+amFEeHp8Hyl0D+NpiD4cB08pqsFyTX0YQd8rI5qqMlD5aPx9LrDJ4RlimMSUE+aij2kR2NSth1e2yHOoHKETdD7C9jyX/ivbHaqJYF7T6N/fF7x9siBAIoqHUIdtrX9nrSD3ZxsdJnrMfERbBG8UVsZI5uC9cGERIbPONzh9jMQFMc6Qhqezr/uJ4iWtm/X7nUuncBvEaoSZ8NHMq0cNdbnzD1zEmC37Bi7JHKcEXDPgevp/RfJKBFe6EpbfRgRHK8//ObV1mBd8xnXZV+qitzH6qngIsws="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      source run_conda_forge_build_setup

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - upload_or_check_non_existence ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
